.shop-button {
    width: fit-content;
    padding: 1rem 2.5rem;
    background-color: #3414FB;
    border-radius: 1rem;
    cursor: pointer;
}

.buy-button {
    width: fit-content;
    padding: 0.5rem 2.5rem;
    font-size: 14px;
    background-color: #3414FB;
    color: #F2F2F2;
    border-radius: 1rem;
    cursor: pointer;
}